@import "~bootstrap/scss/bootstrap";

body {
    background-color: #aabecc;
}

.logo {
    width: 40px;
    height: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.category-title {
    font-size: 20px;
}

.user-log {
    font-size: 15px;
    color: white;
    &:hover {
        color: #17a2b8;
    }
}

.user-name {
    font-size: 15px;
    color: white;
}

.navbar {
    height: 60px;
}