{% extends 'base.html.twig' %}

{% block title %}Modifier Tag{% endblock %}

{% block body %}
    <h1>Modifier Tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('tag_index') }}">Retour à la liste</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
